@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

$body = 'Poppins', sans-serif
$white = #ffffff
$dark = #333333
$medium-dark = #999999
$light-dark = #eeeeee
$dash-accent = #FF1744
$dash-accent-darker = #A30021
$dash-accent-lighter = #FF99AD


/*======================================= 
#										#
#			SHARED STYLES				#
#										#
#=======================================*/

*
	box-sizing border-box
	transition all 0.1s ease-out
	outline none
	
body
	min-height 100vh
	margin 0
	padding 0
	font-family $body
	position relative
	font-size 16px

a
	text-decoration none
	color $dash-accent
	&:hover
		color $dash-accent-lighter

.container
	width 100%
	max-width 1024px
	margin 0 auto
	background-color $white
	padding 12px
	overflow hidden

.container-flex
	display flex
	flex-flow column nowrap
	justify-content center
	align-items center
	width 100%
	min-height 100vh
	height 1px
	overflow hidden
	
.button
	background-color $dash-accent
	padding 0 12px
	color $white
	box-shadow 0 2px 5px rgba(0,0,0,0.2)
	float left
	position relative
	background-image none
	border none
	outline none
	cursor pointer
	font-family $body
	font-size 16px
	margin-right 16px
	min-width 124px
	height 40px
	line-height 40px
	text-align center
	text-decoration none
	border-radius 2px
	margin-top 16px
	&:hover
		background-color $dash-accent-darker
	&.borderless
		color $dash-accent
		background-color $white
		&:hover
			background-color $light-dark
		&:disabled
			color $light-dark
			box-shadow none
			cursor default
	&:disabled
		cursor default
		background-color $light-dark
		color $dark
		box-shadow none
		
.labeled
	float left
	width 100%
	margin-bottom 12px
	position relative
	font-size 16px
	color $dark
	& .float-label
		position absolute
		pointer-events none
		left 0
		top 0
		transform-origin left top 0px
		background-color $white
		width 100%
		text-align left
	& .bottom-line
		display block
		position absolute
		width 100%
		height 2px
		background-color $light-dark
		bottom 14px
		left 0
	& .bottom-line-active
		display block
		position absolute
		width 100%
		height 2px
		background-color $dash-accent
		bottom 14px
		left 0
		transform-origin center
		transform scaleX(0)
	& .inputs:not([type="checkbox"]):not([type="radio"]):not([type="button"]):not([type="submit"]):not([type="reset"])
		padding 24px 0
		width 100%
		border none
		font-size inherit
		font-family inherit
		background-color transparent
		background-image none
		color $dark
		transition none
		&.heading
			font-size 2.5em
			font-weight 700
			padding 8px 0
		& + .float-label
			color $medium-dark
			transform translateY(23px) scale(1)
			&.active
				color $dash-accent
				transform translateY(0) scale(0.78)
		&:focus
			& + .float-label
				color $dash-accent
				transform translateY(0) scale(0.78)
				& + .bottom-line + .bottom-line-active
					transform scaleX(1)
			& + .fixed-label
				& + .bottom-line + .bottom-line-active
					transform scaleX(1)
		&:valid
			& + .float-label
				color $dash-accent
				transform translateY(0) scale(0.78)
	& .hint
		position absolute
		font-size 12px
		left 0
		bottom -8px
	& textarea.inputs
		height 148px
		resize none
			
.checker
	width 20px
	height 20px
	display block
	background-color $white
	border 1px solid rgba(0,0,0,0.2)
	border-radius 50px
	padding 0 2px
	line-height 18px
	cursor pointer
	& input
		display none
	& input + .fa
		display none
	& input:checked + .fa
		display inline-block

.button-f-right
	float right
	& .button:last-child
		margin-right 0
.pop-container
	display flex
	justify-content center
	width 100%
	position fixed
	top 0
	left 0
	opacity 0
	&.show-pop
		opacity 1
		transform translateY(16px)
	& .pop
		display flex
		flex-flow row nowrap
		max-width 1024px
		min-width 320px
		color $white
		padding 8px 16px
		border-radius 4px
		&.error
			background-color #FB404B
		&.warning
			background-color #FFA534
		&.success
			background-color #87CB16
		&.info
			background-color #1DC7EA
		& .pop-content
			flex 1
		& .pop-close
			width 24px
			display flex
			align-items center
			justify-content center
			cursor pointer
			margin-left 32px

h3
	float left
	width 100%
	color $dark
	letter-spacing 1px
	font-weight 700
	padding-top 32px
h4
	float left
	width 100%
	color $dark
	font-weight 700
	padding-top 16px
	font-size 1.1em
			

/*======================================= 
#										#
#			LOGIN STYLES				#
#										#
#=======================================*/
.login-form
	padding 16px
	width 100%
	max-width 360px
	overflow hidden
	border 1px solid rgba(0,0,0,0.1);
	& .checker
		float left
		margin-top 3px
		margin-right 8px
	& .login-header
		float left
		width 100%
		margin-bottom 16px
		& h1
			position relative
			color $dark
			font-weight 400
			letter-spacing 1px
			font-size 2em
			line-height 40px
			margin 0
		& h2
			margin 0.5em 0 0.5em 0
			font-size 1rem
			font-weight 400
			color $medium-dark

/*======================================= 
#										#
#			DASHBOARD STYLES			#
#										#
#=======================================*/
.dash__hero
	float left
	position relative
	width 100%
	height 300px
	background-position center
	background-size cover
	background-repeat no-repeat
	position relative
	background-image url('https://unsplash.it/1920/300/?blur')
	& .hero-profile-pic
		width 140px
		height 140px
		margin-top 60px
		margin-left auto
		margin-right auto
		margin-bottom 20px
		border-radius 140px
		border 2px solid $white
		background-color $light-dark
		background-repeat no-repeat
		background-size cover
		background-position center
		background-image url('https://robohash.org/devtestuser.jpg?size=140x140&set=set2')
		box-shadow 0 8px 20px rgba(0,0,0,0.1)
	& .hero-profile-name
		width 100%
		font-size 20px
		color $white
	    letter-spacing 1px
	    text-align center
	    font-weight 700
	    text-shadow 0 2px 5px rgba(0,0,0,0.5)
.dash__controls
	float left
	position relative
	width 100%
	height calc(100vh - 300px)
	background-color $light-dark
.controls-toolbar
	background-color $white
	width 100%
	padding 12px
	float left
	position relative
	box-shadow 0 5px 10px rgba(0,0,0,0.08)
.toolbar-panels
	float left
	position relative
	width auto
	margin-right 16px
	&::after
		content ''
		position absolute
		right 0
		top calc(50% - 15px)
		display block
		width 1px
		height 30px
		background-color $dark
		float right
	& .toolbar-buttons
		opacity 0.6
		&:hover
		&.active
			background-color transparent
			opacity 1
		&.active::after
		&:hover::after
			content ''
			height 4px
			width 100%
			left 0
			bottom -12px
			background-color $dash-accent
			position absolute
			display block
		& .fa
			margin-right 8px
	& .toolbar-buttons
		padding 0 12px
.toolbar-actions
	float left
	width auto
	position relative
.toolbar-buttons
.toolbar-fab
	float left
	position relative
	background-image none
	background-color transparent
	border none
	outline none
	cursor pointer
	font-family $body
	color $dark
	font-size 16px
	margin-right 16px
	min-width 40px
	height 40px
	line-height 40px
	text-align center
	text-decoration none
	border-radius 2px
	&:hover
		background-color $light-dark
	&:disabled
		cursor default
		opacity 0.5
		&:hover
			background-color transparent
.toolbar-fab
	background-color $dash-accent
	padding 0 12px
	color $white
	box-shadow 0 2px 5px rgba(0,0,0,0.2)
	&::after
		content 'Write new'
		display block
		margin-left 8px
		float right
	&:hover
		background-color $dash-accent-darker
		color $white
	/* position absolute
	right -60px
	top -24px
	height 48px
	width 48px
	line-height 50px
	font-size 20px
	color #ffffff
	text-align center
	border-radius 50px
	box-shadow 0 2px 2px rgba(0,0,0,0.3) */
.dash-table
	width 100%
	table-layout fixed
	border-collapse collapse
	& thead
		text-align left
		color $dark
		text-transform uppercase
		font-weight 700
		letter-spacing 1px
		& tr
			background-color $white
			border-bottom 2px solid rgba(0,0,0,0.04)
			& *:nth-child(2)
				width 25%
	& tr td:first-child
		width 45px
	& tbody
		& tr:nth-child(odd)
			background-color #fafafa
		& tr:nth-child(even)
			background-color $white
		& tr:hover
			background-color $light-dark
	& td, th
		padding 12px
		text-overflow ellipsis
		text-align left
		overflow hidden
	& tfoot
		color $white
		text-align right
		& tr
			background-color $dash-accent
			& td
				padding 6px 12px
				font-size 12px


/*======================================= 
#										#
#			  EDITOR STYLES				#
#										#
#=======================================*/

.editor-header
	float left
	width 100%
	border-bottom 1px solid rgba(0,0,0,0.1)
	margin-bottom 16px
	& h1
		position relative
		color $dark
		font-weight 400
		letter-spacing 1px
		font-size 1.6em
		line-height 40px
		margin 0
		float left
	& .button
		box-shadow none
		background-color transparent
		margin-top 0
		color $dash-accent
		&.submit
			font-weight 700
			color $dash-accent
			margin-right 0
			&:hover
				color $dash-accent-darker
		&.cancel
			color $dark
			font-weight 300
			&:hover
				color $dash-accent

.tags
	background-color $dash-accent
	padding 4px 12px
	margin-right 8px
	border-radius 6px
	color $white
	font-size 0.9em
	cursor pointer
	&:hover
		background-color $dash-accent-lighter
.editor-toolbar
	padding 0
	border none
	border-radius 0
	& a
		border none
		color $dark !important
		&:hover
			border none
			background-color $light-dark
		&.active
			color $dash-accent !important
.CodeMirror
	padding 12px 0
	border none
	z-index inherit
	&.CodeMirror-fullscreen
		z-index 10
.editor-preview
	padding 12px 0
.editor-statusbar
	display none
.heading-separator
	border-top 1px solid rgba(0,0,0,0.1)
.upload
	display none
	& .upload-overlay
		position absolute
		display block
		top 0
		left 0
		right 0
		bottom 0
		background-color rgba(0,0,0,0.3)
		z-index 20
	& .upload-modal
		position fixed
		width 600px
		top 25%
		left calc(50vw - 300px)
		background-color $white
		box-shadow 0 5px 20px rgba(0,0,0,0.3)
		text-align center
		padding 32px
		border-radius 4px
		z-index 21
		& .dragndrop
			display block
			float left
			width 100%
			border 2px dashed rgba(0,0,0,0.1)
			border-radius 8px
			cursor pointer
			background-color #fafafa
			& input
				display none
			& i
				font-size 5em
				width 100%
				color $medium-dark
				margin 2rem 0 0 0
			& p
				font-weight 700
				font-size 2em
				line-height 1.8rem
				margin 2rem 0 2rem 0
				color $dark
				& span
					font-size 1.2rem
					font-weight 400
			&:hover
				opacity 0.8
				& i
					transform scale(1.05)
					color $dash-accent
				& p
					transform scale(0.95)
			&.dragover
				opacity 0.8
				& i
					transform scale(1.05)
					color $dash-accent
				& p
					transform scale(0.95)
		& p
			float left
			width 100%
			font-size 1em
			color $dark
			font-size 1.5em
			margin 1rem 0 0 0
	& .upload-preview
		display none
		& .image-preview
			display block
			float left
			width 100%
			height 250px
			margin-bottom 1em
			overflow hidden
			& img
				max-height 100%
				max-width 100%
			& span
				color #999
				font-size 1.2em
				margin-top 4rem
				display none
		& a
			float left
			width 100%
			margin-bottom 12px
.input-picture
	text-align center
	& img
		border-radius 50%
		background-color $light-dark
		width 140px
		height 140px
		margin-top 24px
		cursor pointer
		&:hover
			filter blur(4px)
.editor-categories
	width 100%
	float left
	& .category-item
		padding 4px 16px
		float left
		position relative
		cursor default
		background-color #fafafa
		margin-right 24px
		margin-bottom 16px
		border-left 4px solid #999999
		& span
			display inline-block
			position absolute
			right -8px
			top -8px
			background-color $dash-accent
			height 24px
			width 24px
			color $white
			border-radius 50%
			line-height 24px
			text-align center
			opacity 0
			font-size 0.8rem
			cursor pointer
			box-shadow 0 1px 4px rgba(0,0,0,0.3)
		&:hover
			background-color $light-dark
			border-color $dash-accent
			& span
				opacity 1