<head>
	<meta charset="utf-8">
    <title><%= title %></title>
    <meta name="description" content="">
    <meta name="author" content="Pierre Burton">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-navbutton-color" content="#ffffff">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="../images/favicon.png">
    <meta name="msapplication-square150x150logo" content="../images/tile.png">
    <meta name="msapplication-wide310x150logo" content="../images/tile-wide.png">
    <!-- Twitter card -->
<!--<meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="../images/tile-wide.png"> -->
    <!-- Open graphs -->
<!--<meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:url" content="">
    <meta property="og:image" content="../images/tile-wide.png">
    <meta property="og:description" content=""> -->
    <% if(simplemde) {%>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <% } %>
    <link rel="stylesheet" href="../styles/styles.css" type="text/css">
</head>