<!DOCTYPE html>
<html>
<%- include('components/admin-head', {guard: false, simplemde: false, title: "User registration"}); %>
<body>
<div class="container">
    <div class="editor-header">
        <h1><i class="fa fa-user-circle-o" aria-hidden="true"></i>&nbsp;User profile</h1>
        <div class="button-f-right">
            <button onclick="goBack()" class="button cancel">Cancel</button>
            <button onclick="submit()" class="button submit">Save</button>
        </div>
    </div>
</div>
<%- include('components/upload-image'); %>
<script src="https://use.fontawesome.com/973262919d.js"></script>
<script type="text/javascript" src="../scripts/closest-polyfill.js"></script>
<script type="text/javascript" src="../scripts/promise-polyfill.min.js"></script>
<script type="text/javascript" src="../scripts/utilities.js"></script>
<script type="text/javascript"></script>
</body>
</html>