<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <title>Your Blog's Dashboard</title>
    <meta name="description" content="">
    <meta name="author" content="Pierre Burton">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#">
    <meta name="msapplication-navbutton-color" content="#">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="msapplication-square150x150logo" content="images/tile.png">
    <meta name="msapplication-wide310x150logo" content="images/tile-wide.png">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Open graphs -->
    <meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <link rel="stylesheet" href="styles/styles.css" type="text/css">
</head>
<body>
	<div class="dash__hero">
        <div class="hero-profile-pic"></div>
        <div class="hero-profile-name">Jane Doe</div>   
    </div>
    <div class="dash__controls">
        <div class="controls-toolbar">
            <div class="toolbar-panels">
                <button id="panel-posts" class="toolbar-buttons active" onclick="handleTabClick()"><i class="fa fa-newspaper-o" aria-hidden="true"></i>Articles</button>
                <button id="panel-subscribers" class="toolbar-buttons" onclick="handleTabClick()"><i class="fa fa-users" aria-hidden="true"></i>Subscribers</button>
            </div>
            <div id="posts-actions" class="toolbar-actions">
                <button id="edit-post" title="Edit" class="toolbar-buttons" onclick="handleActionClick()" disabled="true"><i class="fa fa-pencil" aria-hidden="true"></i></button>
                <button id="delete-post" title="Delete" class="toolbar-buttons" disabled="true"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                <a href="write-post" title="Write" class="toolbar-fab"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
            </div>
            <div id="subscribers-actions" class="toolbar-actions" style="display: none;">
                <button id="export-contacts" title="Export" class="toolbar-buttons"><i class="fa fa-external-link" aria-hidden="true"></i></button>
                <button id="delete-contacts" title="Delete" class="toolbar-buttons" disabled="true"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
            </div>
        </div>
        <table class="dash-table" id="dashboard-posts">
            <thead>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="checkAll(),handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <th>Title</th>
                    <th>Category</th>
                    <th>Date published</th>
                    <th>Date modified</th>
                    <th>Views</th>
                    <th>Likes</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>TestTest</td>
                </tr>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>TestTest</td>
                </tr>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>Test</td>
                    <td>TestTest</td>
                    <td>TestTest</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="8">Test</td>
                </tr>
            </tfoot>
        </table>
        <table class="dash-table" id="dashboard-subscribers" style="display: none;">
            <thead>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="checkAll(),handleBoxCheck()"/><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <th>EMail</th>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Date registred</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <td>Subscriber</td>
                    <td>Subscriber</td>
                    <td>Subscriber</td>
                    <td>Subscriber</td>
                </tr>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <td>Subscriber</td>
                    <td>SubscriberSubscriber</td>
                    <td>Subscriber</td>
                    <td>SubscriberSubscriber</td>
                </tr>
                <tr>
                    <td><label class="checker"><input type="checkbox" onchange="handleBoxCheck()" /><i class="fa fa-check" aria-hidden="true"></i></label></td>
                    <td>Subscriber</td>
                    <td>SubscriberSubscriber</td>
                    <td>Subscriber</td>
                    <td>SubscriberSubscriber</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">Subscriber</td>
                </tr>
            </tfoot>
        </table>
    </div>
<script type="text/javascript" src="scripts/closest-polyfill.js"></script>
<script type="text/javascript">

    function handleTabClick() {
        var target = event.currentTarget,
            articlesButton = document.querySelector('#panel-posts'),
            subscribersButton = document.querySelector('#panel-subscribers'),
            articlesActions = document.querySelector('#posts-actions'),
            subscribersActions = document.querySelector('#subscribers-actions'),
            articlesTable = document.querySelector('#dashboard-posts'),
            subscribersTable = document.querySelector('#dashboard-subscribers');

        if (target.id == "panel-posts") {
            if (articlesButton.classList.contains('active')) {
                return false;
            }
            else {
                subscribersTable.style.display = "none";
                articlesTable.style.display = "table";
                subscribersActions.style.display = "none";
                articlesActions.style.display = "block";
                var inputs = subscribersTable.querySelectorAll('input[type="checkbox"]');
                for (i = 0; i < inputs.length; i++) {
                    inputs[i].checked = false;
                }  
                subscribersButton.classList.remove('active');
                articlesButton.classList.add('active');
            }
        }
        else {
            if (subscribersButton.classList.contains('active')) {
                return false;
            }
            else {
                articlesTable.style.display = "none";
                subscribersTable.style.display = "table";
                articlesActions.style.display = "none";
                subscribersActions.style.display = "block";
                var inputs = articlesTable.querySelectorAll('input[type="checkbox"]');
                for (i = 0; i < inputs.length; i++) {
                    inputs[i].checked = false;
                } 
                articlesButton.classList.remove('active');
                subscribersButton.classList.add('active');
            }
        }
    }

    function checkAll() {
        var target = event.target,
            parentTable = target.closest('table'),
            inputs = document.querySelectorAll('#'+parentTable.id+' input[type="checkbox"]');

        for (i = 1; i < inputs.length; i++) {
            if (target.checked) {
                inputs[i].checked = true;
            }
            else {
                inputs[i].checked = false;
            }
        }        
    }

    function handleBoxCheck() {
        var checkboxes = document.querySelectorAll('input[type="checkbox"]'),
            isChecked = Array.prototype.slice.call(checkboxes).some(function(x) {return x.checked}),
            checkedOnes = Array.prototype.slice.call(checkboxes).filter(function(x) {return x.checked}),
            editPostButton = document.querySelector('#edit-post'),
            deletePostButton = document.querySelector('#delete-post'),
            exportContactButton = document.querySelector('#export-contacts'),
            deleteContactButton = document.querySelector('#delete-contacts');

        if (checkedOnes.length == 0) {
            editPostButton.disabled = true;
            deletePostButton.disabled = true;
            exportContactButton.disabled = false;
            deleteContactButton.disabled = true;
        }
        else if (checkedOnes.length == 1) {
            editPostButton.disabled = false;
            deletePostButton.disabled = false;
            exportContactButton.disabled = false;
            deleteContactButton.disabled = false;
        }
        else {
            editPostButton.disabled = true;
            deletePostButton.disabled = false;
            exportContactButton.disabled = false;
            deleteContactButton.disabled = false;
        }
    }
</script>
<script src="https://use.fontawesome.com/973262919d.js"></script>
</body>
</html>