<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
    <!-- <meta http-equiv="x-ua-compatible" content="ie=edge"> -->
    <title>New Blogpost</title>
    <meta name="description" content="">
    <meta name="author" content="Pierre Burton">
    <meta name="viewport" content="initial-scale=1.0, minimum-scale=1.0, user-scalable=no, maximum-scale=1.0, width=device-width">
    <meta name="format-detection" content="telephone=no">
    <meta name="theme-color" content="#">
    <meta name="msapplication-navbutton-color" content="#">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="images/favicon.png">
    <meta name="msapplication-square150x150logo" content="images/tile.png">
    <meta name="msapplication-wide310x150logo" content="images/tile-wide.png">
    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@">
    <meta name="twitter:creator" content="@">
    <meta name="twitter:title" content="">
    <meta name="twitter:description" content="">
    <meta name="twitter:image" content="">
    <!-- Open graphs -->
    <meta property="og:title" content="">
    <meta property="og:type" content="article">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <meta property="og:description" content="">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css" />
    <link rel="stylesheet" href="styles/styles.css">
</head>
<body>
<div class="container">
    <h1>Create new post</h1>
    <label>
        <input type="text" class="inputs" name="post-title" required/>
        <span class="float-label">Your post's title</span>
    </label>
    <label>
        <textarea class="inputs" placeholder="Your story..."></textarea>
    </label>
    <h3>Some information about your post</h3>
    <label>
        <input type="text" name="about" class="inputs" required/>
        <span class="float-label">What is your post about ?</span>
    </label>
    <label>
        <input type="text" name="about-link" class="inputs" required/>
        <span class="float-label">Can you provide a link ?</span>
    </label>
    <label>
        <select class="inputs">
            <option>Value1</option>
            <option>Value2</option>
            <option>Value3</option>
        </select>
        <span class="fixed-label">Category</span>
    </label>
    <label>
        <input type="text" name="tags" class="inputs" required/>
        <span class="float-label">Tags</span>
        <span class="hint">Separate tags with a coma</span>
    </label>
</div>
<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
<script type="text/javascript">
    var simplemde = new SimpleMDE();
</script>
</body>
</html>